@import "../../global.scss";

#projects {
    flex-direction: column;
    overflow: visible;

    @media (max-width: #{$mobile-breakpoint}) {
        height: fit-content;
    }

    @media (max-width: #{$tablet-breakpoint}) {
        height: fit-content;
    }

    h1 {
        font-weight: 900;
        font-size: clamp(3.2em, 8vw, 9em);
        color: $blackColor;
        margin-bottom: 60px;
        overflow: visible;
    }

    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow: visible;

        @media (max-width: #{$mobile-breakpoint}) {
            justify-content: center;
        }

        @media (max-width: #{$tablet-breakpoint}) {
            width: 600px;
            justify-content: center;
        }

        .project {
            width: 350px;
            height: 440px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: visible;

            .project-card {
                width: 300px;
                height: 350px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: visible;

                .extra-information {
                    width: 300px;
                    height: 300px;
                    opacity: 0;
                    z-index: -1;
                    border-radius: 20px;
                    position: absolute;
                    background-color: $backgroundColor;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    transition: all 0.5s ease;
                    outline-color: $blackColor;
                    outline-width: 0px;
                    outline-style: solid;

                    p {
                        padding: 20px;
                        font-weight: 400;
                        font-size: 1.4em;
                    }
                }
                
                img {
                    height: 300px;
                    object-fit: scale-down;
                    border-radius: 20px;
                    transition: all 0.5s ease;
                }

                h3 {
                    position: absolute;
                    text-align: center;
                    padding-top: 50px;
                    font-weight: 600;
                    font-size: 1.4em;
                    top: 85%;
                    color: $primaryColor;
                }
            }

            &:hover {
                img {
                    opacity: 0;
                    height: 250px;
                }
                .extra-information {
                    opacity: 1;
                    outline-width: 6px;
                    outline-style: solid;
                }
            }
        }
    }
}